.mat-raised-button {
  border-radius: 29px;
  color: white;
  background: #7CBD42;
  width: 28%;
}

.service-select .mat-form-field-appearance-fill .mat-form-field-infix {
  padding: 0;
  border-top: 1em;
}

.page-title {
  color: #707070;
  font-weight: 1000;
}

.breadcrumb-link,
.breadcrumb-link:hover,
.breadcrumb-link:active,
.breadcrumb-link:visited {
  color: #424242;
  text-decoration: none;
}

.mat-tab-link {
  font-size: 16px;
  margin: auto;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: ">";
}

.tab-active {
  border-bottom: #6B2D80 solid 3px;
}
