:host ::ng-deep .p-5 {
  padding: 0 !important;
}

.company_logo {
  width: 351px;
  height: 180px;
  padding-left: 64px;
}

.container {
  width: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  width: 940px;
  height: 680px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-image: url("src/assets/login_assets/login_mask_background.png");
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-logo {
  padding-top: 70px;
}

.meetdoc-copyright {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #545454;
}


.details{
  width: 400px;
  justify-content: flex-start;
  align-items: center;
}

.details-h1{
   color:#6B2D80;
  font-size: 22px;
  font-weight: bold;
 }

.details-resetLink{
  font-size: 20px;
  padding-top: 10px;
}

.details-checkMail{
  width:600px;
  text-align: center;
  padding-top: 20px;
  font-size: 18px;
}

.details-checkMail-emailName{
  font-weight: bolder;
  color:#707070;
}

.details-checkMail-didntReceiveMail{
  padding-top: 80px;
  font-size: 21px;

}

.pointer{
  cursor: pointer;
}

.pointer:hover{
  color:#7CBD42;
}
